.led {
    height: 5px;
    width: 5px;
    border: 1px solid white;
    border-radius: 30px;
    transition: 0.4s;
}

.is-on {
    background-color: #3e3e3e;
    /* box-shadow: rgba(17, 17, 17, 0.2) 0px 0px 3px 4px; */
}