.interaction-layer {
    position: absolute;
    /* background-color: red; */
    top: 0;
    left: 0;
    opacity: 0.8;
    cursor: pointer;
}

.canvas-layer {
    position: relative;
}

.interaction-layer>div>.interaction-section {
    height: 100%;
    cursor: pointer;
}

.interaction-layer rect {
    height: 100%;
    fill-opacity: 0;
    cursor: pointer;
}

.interaction-layer circle {
    height: 100%;
    cursor: grab;
    fill-opacity: 0;
}

.interaction-layer circle:active {
    cursor: grabbing;
}

.env-info {
    border-top: 1px solid #653636;
    height: 20px;
    font-size: 0.8em;
}

.env-details {
    font-size: 0.9em;
    color: #ff5f5f;
}

.value-pill {
    background-color: yellow;
    color: black;
    border-radius: 3px;
    padding: 2px 7px;
}