.patch-search-container {
    position: relative;
    /* margin: 0 10px; */
}

.ps-search-container {
    height: 28px;
    /* border-bottom: 2px solid #303030; */
    overflow: hidden;
}

.relative {
    position: relative;
}

.ps-search {
    border: none;
    background-color: #eff3f6;
    border-radius: 5px;
    padding: 7px;
    color: rgb(130, 130, 130);
    font-weight: bold;
    /* margin: 10px 0; */
}

.ps-search.ps-closed {
    transition-property: height, width;
    transition-delay: 0s, 0.3s;
}

.ps-search.ps-open {
    transition-property: width, height;
    transition-delay: 0s, 0.3s;
}

.ps-open {
    /* height: 400px; */
    width: 400px;
}

.ps-closed {
    /* width: 150px; */
    height: 28px;
}

.ps-search {
    /* position: absolute; */
}

.bg-blur {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    background-color: black;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

.patch-search-body {
    min-height: 0;
}
