.effect {
    padding: 10px 0;
    background-color: #3e3f55;
    color: white;
    border-radius: 10px;
    margin: 1px;
    margin-bottom: 8px;
    border: 1px solid #3c3d4e;
}

.effect-topbar {
    margin-bottom: 10px;
    padding: 0 10px;
}

.property-label {
    margin-bottom: 5px;
    color: #dedede;
    font-size: 0.9em;
}