.oscillator {
    margin: 8px;
    width: 360px;
    border-radius: 20px;
    background-color: #313243;
    border: 1px solid #1e1f29;
    opacity: 1;
    overflow: hidden;
}

.oscillator:hover {
    background-color: #4b55c3;
    border: 1px solid #606060;
}

.hide-osc {
    opacity: 0.5;
}

.container-1 {
    width: 20px;
}

.header-item {
    color: #dedede;
    font-weight: 700;
}

.id-container {
    font-weight: 800;
    font-size: 2.3em;
    color: white;
}

.header-label {
    font-size: 0.6em;
    color: white;
    font-weight: 800;
}

.controls-row {
    margin: 7px;
}

.pan-keys {
    fill: white;
    font-size: 0.8em;
    font-weight: bolder;
}

.signal-seperator {
    margin: 0 2px;
}

.knob-container {
    margin-top: 5px;
}