.oscillator {
    padding: 5px;
    height: 90px;
    margin: 10px;
    border-radius: 20px;
    background-color: #303545;
    opacity: 1;
    transition: 0.3s;
}

.selected-osc {
    background-color: rgb(82 85 233);
}

.hide-osc {
    opacity: 0.5;
}

.container-1 {
    width: 30px;
}

.header-item {
    height: 30%;
    color: white;
    font-weight: 700;
}

.control-item {
    height: 70%;
}

.id-container {
    font-weight: 800;
    font-size: 2.3em;
    color: white;
}

.header-label {
    font-size: 0.6em;
    color: white;
    font-weight: 800;
}