.rotating-component {
    transform-box: fill-box;
    transform-origin: center;
}

.knob-input-container {
    height: 20px;
}

.knob-input {
    width: 15px;
    font-size: 0.7em;
    border-radius: 5px;
    color: #ffffff;
}

.input-container {
    margin-top: 3px;
}