.settings {
    color: #908f8f;
    border-left: 0px solid white;
    /* width: 310px; */
    height: 90px;
}

.selected-setting {
    font-weight: 700;
    color: #ffffff;
    background-color: #141414;
    transition: 0.2s;
}

.settings-rack {
    background-color: rgb(76 76 76);
    overflow: hidden;
    height: 90px;
}

.setting-area {
    border-radius: 10px;
}

.tab-seperator {
    border-right: 1px solid #121212;
}

.tab-seperator > .setting-tab:not(:last-child) {
    border-bottom: 1px solid #121212;
}

.header {
    padding: 5px;
}

.setting-tab {
    padding: 0 10px;
    font-size: 0.8em;
}

.tabs {
    width: 60px;
}
