.settings {
    /* font-family: 'Roboto Mono', monospace; */
    color: rgb(207 207 207);
}

.selected-setting {
    font-weight: 700;
    color: #ffffff;
    background-color: #141414;
}

.settings-rack {
    background-color: rgb(28 28 28);
    border-radius: 20px;
    margin: 15px;
    overflow: hidden;
    height: 120px;
    border: 1px solid #141414;
}

.setting-area {
    border-radius: 10px;
}

.tab-seperator {
    border-right: 1px solid #121212;
}

.tab-seperator > .setting-tab:not(:last-child) {
    border-bottom: 1px solid #121212;
}

.header {
    border-bottom: 1px solid #2e2e2e;
    padding: 5px;
}

.setting-tab {
    padding: 0 10px;
}