.additive-controls {
    border-top: 1px solid #653636;
    color: #934646;
    font-size: 0.9em;
}

.additive-tools>div {
    margin: 0 5px;
    width: 10px;
}

.additive-tools {
    font-size: 0.8em
}

.addative-button {
    background-color: #181818;
    padding: 1px 10px;
    color: #934646;
    border: none;
    font-family: 'Roboto Mono', monospace;
    border-radius: 3px;
    font-size: 0.8em;
}

.addative-button:hover {
    color: #ff5f5f;
}

.clear {
    margin-left: 10px;
}