.node-header {
    height: 25px;
}

.node-action-container {
    width: 20px;
}

.node-name-input {
    outline: none;
    border: none;
    transition: 0.5s;
    background-color: transparent;
    font-size: 1.3em;
    font-weight: 800;
    color: #303030;
}

.node-name-input:focus {
    background-color: white;
    color: black;
}

.node-info {
    padding: 0 5px;
}

.node {
    transition: transform 0.1s;
}

.item-container {
    border: 2px solid rgb(206, 206, 206);
    transition: box-shadow 0.1s;
    border-radius: 5px;
    overflow: hidden;
}

.node-body {
    padding: 0px;
}

.connector {
    color: white;
    height: 20px;
    width: 15px;
    background-color: rgb(60, 60, 60);
    border-radius: 3px;
    font-size: 0.7em;
}

.connector:hover {
    background-color: rgb(255, 78, 108);
}

.connector-active {
    background-color: rgb(255, 78, 108);
}

.-left {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.-right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
