.selector {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #1e1e1e;
    color: white;
    padding: 4px 10px;
    text-align: center;
    border: none;
    font-weight: 700;
    border-radius: 7px;
    margin: 0 3px;
}