.keyboard {
    width: 250px;
    height: 50px;
    background-color: white;
}

.keyboard-side {
    width: 10px;
    background-color: white;
}

.keyboard-top-bottom-accent {
    height: 10px;
    background-color: rgb(241, 241, 241);
}

.keyboard-side-right {
    width: 50px;
    background-color: white;
}

.keyboard-top {
    height: 30px;
}

.keys-background {
    background-color: rgb(146 146 146);
    border-radius: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.natural-key {
    fill: white;
    stroke: rgb(92, 92, 92);
    stroke-width: 0.5;
}

.minor-key {
    fill: rgb(67, 67, 67);
    stroke: rgb(92, 92, 92);
    stroke-width: 0.5;
}

.keyboard-bottom {
    height: 8px;
    background-color: #d4d4d4;
}