.band-pass {
    height: 80px;
}

.filter-tools {
    background-color: rgb(28 28 28);
    height: 20px;
    border-top: 1px solid #393838;
    font-size: 0.8em;
}

.filter-value {
    color: rgb(194, 194, 194);
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9em;
}