body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
    background: #ebebeb;
    background-image: radial-gradient(rgb(208 208 208) 1.7px, transparent 0);
    background-size: 25px 25px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;700&display=swap');
.cursor-pointer {
    cursor: pointer;
}

canvas {
    vertical-align: bottom;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.cursor-grab {
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}


/* (Optional) Apply a "closed-hand" cursor during drag operation. */

svg {
    overflow: visible;
}

.cursor-grab:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
    font-size: 10px;
    font-family: 'Inter', sans-serif;
}

.center-child-xy {
    display: flex;
    /* establish flex container */
    justify-content: center;
    /* center items vertically, in this case */
    align-items: center;
    /* center items horizontally, in this case */
}

.text-center {
    text-align: center;
}

.center-child-y {
    align-items: center;
    /* center items horizontally, in this case */
}

.center-child-x {
    display: flex;
    /* establish flex container */
    justify-content: center;
}

.flex-1 {
    flex: 1;
}

.d-flex {
    display: flex;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.f-col {
    flex-direction: column;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.wh-100 {
    width: 100%;
    height: 100%;
}

.pointer {
    cursor: pointer;
}

.grabber {
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.grabber:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.shadow-1 {
    box-shadow: rgb(82 82 82 / 64%) 0px 0px 2px 0px inset, rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
}

.shadow-2 {
    box-shadow: rgb(19 19 19 / 61%) 0px 7px 8px 5px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
}

.shadow-3 {
    box-shadow: rgb(0 0 0 / 9%) 0px 6px 4px 3px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
}

.shadow-4-moving {
    box-shadow: rgb(22 22 22 / 18%) 15px 15px 0px;
}

.shadow-4 {
    box-shadow: rgb(22 22 22 / 25%) 5px 5px 0px;
}

.space-around {
    justify-content: space-around;
}

.no-grow {
    align-self: flex-start;
    justify-self: flex-start;
}