body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
    background: white;
    background-image: radial-gradient(rgb(194, 194, 194) 1px, transparent 0);
    background-size: 20px 20px;
    background-position: -19px -19px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
.cursor-pointer {
    cursor: pointer;
}

.cursor-grab {
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}


/* (Optional) Apply a "closed-hand" cursor during drag operation. */

.cursor-grab:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
    font-size: 10px;
}

.center-child-xy {
    display: flex;
    /* establish flex container */
    justify-content: center;
    /* center items vertically, in this case */
    align-items: center;
    /* center items horizontally, in this case */
}

.center-child-y {
    align-items: center;
    /* center items horizontally, in this case */
}

.center-child-x {
    display: flex;
    /* establish flex container */
    justify-content: center;
}

.flex-1 {
    flex: 1;
}

.d-flex {
    display: flex;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.f-col {
    flex-direction: column;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.wh-100 {
    width: 100%;
    height: 100%;
}

.pointer {
    cursor: pointer;
}