.header-bar {
    height: 50px;
    background-color: white;
    border-bottom: 3px solid rgb(226 226 226);
}

.number {
    font-size: 1em;
    color: #ff7b7b;
}

.app-title {
    font-size: 3em;
    color: #3b3b3b;
    font-weight: 700;
    letter-spacing: -2px;
    margin: 0 25px;
    line-height: 0px;
}

.icon-container {
    padding: 15px;
    font-size: 1.2em;
    color: white;
}